age verification
================


* [A new California law says all operating systems, including Linux, need to have some form of age verification at account setup](https://www.pcgamer.com/software/operating-systems/a-new-california-law-says-all-operating-systems-including-linux-need-to-have-some-form-of-age-verification-at-account-setup/)
    * [[operating-systems]]
    * how will it be enforced?
    * I don't think they know what an operating system is?


[operating-systems]: operating-systems.md "Operating Systems"
